body {
	font-family: 'nexa';
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;

	color: white;
	background: #222;
	box-shadow: 0px 0px 10px 4px #888;
}
	header h1 {
		display: inline-block;
		font-size: 30px;
		font-weight: bold;

		width: auto;
		margin: 0px;
		margin-right: 8px;
		padding-left: 8px;

		color: #45c2d1;
	}
	header h2 {
		display: inline-block;
		font-size: 25px;
	}
	header p {
		color: #45c2d1;
		float: right;
		padding-top: 12px;
		padding-right: 8px;
		margin: 0px;
	}

article {
	margin-top: 60px;
	height: 750px;
}

h1 {
	font-size: 40px;
	line-height: 45px;
	margin-bottom: 80px;

	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 20px;
	line-height: 32px;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

form {
	width: 750px;
	margin: auto;
}
	form p {
		margin: 20px;
	}
	label {
		font-weight: bold;
	}
	input, .chosen-container {
		float: right;
		margin: 0px;
		width: 240px;
	}
	input {
		padding: 5px;
		border: solid 1px #aaa;
	}
	button {
		font-family: 'nexa';
		font-size: 22px;
		font-weight: bold;
		float: right;
		padding: 10px;
	}
