<!doctype html>

<html>
<head>
	<title>Where in the world is NCSS?</title>
	<link rel="stylesheet" type="text/css" href="fonts/nexa.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/chosen.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
	<script src="js/chosen.jquery.min.js" type="text/javascript"></script>
	<script>
		$(function() {
			$('select').chosen({
				width: '250px',
				padding: '5px',
			});
		});
	</script>
</head>
<body>
	<header>
		<h1>NCSS</h1><h2>Where are they now?</h2>
		<p>Where are your fellow NCSSers? <a href="/">view the map</a></p>
	</header>
	
	<article>
		<form action="/ncsser" method="POST">
			<p>
				<label for="name">What is your name?</label>
				<input name="name"></input>
			</p>
		
			<p>
				<label for="years_stud">In what years did you attend NCSS as a student?</label>
				<select name="years_stud" multiple>
					{% for year in range(1995, 2015) %}
					<option value="{{year}}">{{year}}</option>
					{% endfor %}
				</select>
			</p>
			<p>
				<label for="years_tut">In what years did you attend NCSS as a tutor?</label>
				<select name="years_tut" multiple>
					{% for year in range(1995, 2015) %}
					<option value="{{year}}">{{year}}</option>
					{% endfor %}
				</select>
			</p>

			<p>
				<label for="uni">Which Uni did/do you go to?</label>
				<select name="uni" multiple>
					{% for uni in unis %}
					<option value="{{uni.id}}">{{uni.name}}</option>
					{% endfor %}
				</select>
			</p>

            <p>
				<label for="degree">What did/are you majoring in?</label>
				<select name="degree" multiple>
					{% for degree in degrees %}
					<option value={{degree.id}}>{{degree.name}}</option>
					{% endfor %}
				</select>
			</p>

			<p>
				<button type="submit">Submit!</button>
			</p>
		</form>
	</article>
</body>
</html>
